body {
	font-family: sans-serif, Verdana, Arial; 
	background: black;
	font-family: Verdana;
	font-size: 25px;
	margin: 0;
	padding: 0;
}


h1 {
	color: #9E9E9E;
	font-size: 24px;
	font-weight: 1.1em;
	margin-left: 35px;
}

h2 {
	font-size: 15px;
	color: #6B6B6B;
	margin-left: 40px;
}

a {
	text-decoration: none;
	cursor: pointer;
}

@font-face {
    font-family: 'WebHostingHub-Glyphs';
    src: url('../font/webhostinghub-glyphs.eot');
    src: url('../font/webhostinghub-glyphs.eot?#iefix') format('embedded-opentype'),
         url('../font/webhostinghub-glyphs.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    -moz-font-feature-settings: "calt=0,liga=0";
}

@font-face {
    font-family: 'MavenProRegular';
    src: url('../font/maven_pro_regular-webfont.eot');
    src: url('../font/maven_pro_regular-webfont.eot?#iefix') format('eot'),
         url('../font/maven_pro_regular-webfont.woff') format('woff'),
         url('../font/maven_pro_regular-webfont.ttf') format('truetype'),
         url('../font/maven_pro_regular-webfont.svg#webfontOM8fITNz') format('svg');
    font-weight: normal;
    font-style: normal;

}

[class^="icon-"], [class*=" icon-"] {font-family:'WebHostingHub-Glyphs';background:none;width:auto;height:auto;font-style:normal}
.icon-search:before{content:'\f0c5'}
.icon-eye-open:before{content:'\f2b5'}
.icon-share:before{content:'\f47d'}
.icon-emptystar:before{content:'\f2de'}
.icon-shoppingcartalt:before{content:'\f4f5'}


.default {
	margin: 0 auto;
	width: 1290px;
}

#header, #menu, #banner, #chooseBar, #offer, #content, .footBarP, #footer {
	width: 100%;
}


.contentButton, .bannerButton, .bannerPrice, .menux, #menuStars, #menuBox, #headerLogin, #headerName, #headerSearch {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	z-index: 2;
}

.clear {
	clear: both;
}

.absolute {
	position: absolute;
}

/*--------------PART 1 HEADER*/
#header {
	display: block;
	background: #242424;
	height: 65px;
	border-bottom: 1px solid black;
	
}


#headerLogin {
	display: inline-block;
	width: 253px;
	float: right;
	color: #737373;
	text-align: center;
	line-height: 65px;
	font-size: 15px;
	border-left: 1px solid #343434;
	border-right: 1px solid #343434;
	cursor: pointer;
}

#headerLogin:hover {
	background: #1E1E1E;
}

#headerName {
	

	display: inline-block;
	color: #57C39F;
	line-height: 65px;
	font-size: 40px;
	width: 220px;
	cursor: pointer;
}

#headerName:hover {
	color: #3EAC88;
}

#headerSearch {
	display: inline-block;
	width: 290px;
	float: right;
	height: 40px;
	margin-top: 14px;
	margin-right: 14px;
	cursor: pointer;
	line-height: 49px;
	cursor: text;
}

#headerSearch:hover {
	background: white;
}

#headerSearch>span {
	font-size:  22px;
	float: right;
	color: #5A5A58;
	margin: -4px 8px;
}

/*--------------PART 2 MENU*/

#menu { 
	background: #FFFFFF;
	border-top: 1px solid #464646;
	height: 80px;
	color: #2F2F2F;
	font-size: 23px;
	overflow: hidden;
	text-align: center;
}

.menux, #menuStars, #menuBox {
	border-left: 2px solid #EFEFEF;
	float: left;
	width: 120px;
	line-height: 80px;
	display: inline-block;
	cursor: pointer;
}

.menux:hover {
	background: #8CD7BE;
}

#menuStars {
	overflow: hidden;
	border-left: 2px solid #CECECE;
	float: right;
	width: 125px;
	color: #646464;
	font-size: 28px;
}

#menuBox:hover {
	background: #DDDDDD;
}

#menuStars:hover {
	background: #DDDDDD;
}

#menuBox {
	overflow: hidden;
	border-left: 2px solid #CECECE;
	border-right: 2px solid #CECECE;
	float: right;
	width: 125px;
	color: #646464;
	font-size: 28px;
}


#menuBox>div {
	font-size: 18px;
	margin-top: 20px;
	font-weight: 800;
	overflow: hidden;
	line-height: 28px;
	display: inline-block;
	height: 28px;
	width: 28px;
	background: #57C39F;
	border: 1px solid #3CA684;
	border-radius: 5px;
	color: white;
}

#menuStars>div {
	color: white;
	font-weight: 800;
	font-size: 18px;
	margin-top: 20px;
	overflow: hidden;
	line-height: 28px;
	display: inline-block;
	height: 28px;
	width: 28px;
	background: #ADADAD;
	border: 1px solid #8F8F8F;
	border-radius: 5px;
}

/*--------------PART 3 BANNER*/

#banner {
	height: 630px;
	background: #F0ECE9;
	color: #252525;
	font-size: 24px;
	
	overflow: hidden;
}

#bannerImg {
	display: inline-block;
	float: left;
}

#bannerPrice {
	text-align: center;
	height: 92px;
	width: 92px;
	background: #57C39F;
	border: 1px solid #3CA684;
	font-size: 18px;
	color: white;
	line-height: 92px;
	margin: 20px;
	margin-left: 0;
	cursor: pointer;
}

#bannerPrice:hover {
	background: #3CA684;
}

#bannerHead {

	margin: 20px;
	margin-left: 0;
	font-size: 50px;
}

.bannerButton {
	text-align: center;
	margin: -5px;
	margin-top: 16px;
	margin-left: 0;
	display: inline-block;
	background: white;
	height: 55px;
	width: 55px;
	line-height: 55px;
	cursor: pointer;
	overflow: hidden;
}

.bannerButton:hover {
	background: #C5C5C5;
}

.bannerButton>span {
	font-size: 24px;
}


#bannerBlock {
	float: left;
	display: inline-block;
	margin: 55px;
}

#banner>.default {
	height: 630px;
}


/*--------------PART 4 CHOOSE BAR*/

#choose {
	background: #2E2E2E;
	height: 125px;
	overflow: hidden;
}

#choose .default {
	width: 1310px;
}

#choseBar {
	top: 785px;
	position: absolute;
	display: inline-block;
	height: 8px;
	width: 1295px;
	margin-top: 8px;
	margin: 0 auto;
	padding: 0;
	border: 4px solid black;
	border-left:  5px solid black;
	border-right:  5px solid black;
	border-radius: 1px;
}

#choseBar>div {
	position: absolute;
	display: inline-block;
	height: 8px;
	width: 247px;
	background: black;
	border-left:  6px solid black;
	border-right:  6px solid black;
}

.chooseText {
	margin-top: 33px;
	display: inline-block;
	width: 250px;
	height: 90px;
	text-align: center;
	line-height: 14px;
	cursor: pointer;
}

.chooseText~div {
	display: inline-block;
	width: 250px;
	height: 90px;
	text-align: center;
	line-height: 14px;
	cursor: pointer;
}

.selectedH1 {
	color: #CBCBCB;
}

.selectedH2 {
	color: #959595;
}

/*--------------PART 5 offer*/

#offer {
	height: 315px;
	background: #242424;

}

#offer img {
	display: inline-block;
	height: 248px;
	width: 407px;
	margin: 12px;
	margin-top: 36px;
}

#offerImg {
	margin: 0;
	display: inline-block;
}

#offerImg~div {
	margin: 0;
	display: inline-block;
}

#offerSale, #offerSpecial, #offerMust {
	position: absolute;
	z-index: 1;
	height: 80px;
	width: 248px;
	margin: 0 auto;
	background: rgba(0,0,0,.5);
	color: #DEDDDB;
	font-size: 33px;
	font-weight: 1.1em;
	top: 10px;
	left: 80px;
	text-align: center;
	line-height: 80px;
	cursor: pointer;

}

#offerSpecial {
	left: 497px;
	width: 300px;
}

#offerMust {
	left: 944px;
	width: 289px;
}

#offerAbsolute {
	width: 1295px;
	height: 82px;
	position: absolute;
	margin: 0 auto;
	top: 1025px;
}

/*--------------PART 6 CONTENT*/

#content {
	height: 1415px;
	background: #EBE7DE
}

#content span {
	display: inline-block;
	color: #2E2E2E;
	font-size: 35px;
	margin: 40px;
	margin-left: 0;
}

.contentButton {
	display: inline-block;
	width: 135px;
	height: 40px;
	border: 2px solid #B1AD9E;
	color: #B1AD9E;
	float: right;
	font-weight: 550;
	margin: 40px;
	margin-right: 0;
	line-height: 40px;
	text-align: center;
	cursor: pointer;
}

.contentButton:hover {
	background: #B1AD9E;
	color: #EBE7DE;
}

.contentLine {
	width: 100%;
	height: 2px;
	background: #B1AD9E;
	margin: 35px 0;
}

#content img {
	display: inline-block;
	height: 305px;
	width: 407px;
	margin: 0;
}

#contentImg {
	height: 360px;
	width: 407px;

	margin: 12px;
	margin-left: 0;
	/*margin: 0;*/
	display: inline-block;
}

#contentImg~div {
	/*margin: 0;*/

	margin: 12px;
	display: inline-block;
}

.contentIn {
	position: absolute;
	height: 70px;
	width: 407px;
	background: rgb(255, 255, 255);
	line-height: 20px;
	margin: 0;
	top: 1660px;
}

.contentInPrice, .contentSale, .contentOut {
	position: absolute;
	display: inline-block;
	text-align: center;
	height: 90px;
	width: 90px;
	background: #57C39F;
	border: 1px solid #3CA684;
	font-size: 18px;
	color: white;
	line-height: 92px;
	margin: 0;
	margin-left: 20px;
	margin-bottom: 20px;
	cursor: pointer;
}

.contentSale {
	background: #242424;
	font-size: 16px;
	font-weight: 600;
	border: 0px solid #3CA684;
	margin-left: 298px;
}

.contentOut {
	background: #F57D49;
	font-size: 17px;
	font-weight: 600;
	border: 0px solid #3CA684;
	margin-left: 298px;
	line-height: 30px;
}

.contentInPrice:hover {
	background: #3CA684;
}

.contentInText {
	display: inline-block;
	margin-left: 128px;
	margin-top: 28px;
	font-size: 30px;
}


#contentTextBox1, #contentTextBox2, #contentTextBox3 {
	height: 255px;
	background: #DEDBD4;
	width: 305px;
	display: inline-block;
	margin: 0 5px;
	overflow: hidden;
	font-size: 18px;
}

#contentTextBox3 span {
	font-size: 16px;
	margin: 17px 7px;
}

#contentTextBox2 span {
	font-size: 16px;
	margin: 17px 7px;
}

#contentTextBox1 span {
	font-size: 16px;
	margin: 17px 7px;
}

#contentTextBox3 {
	width: 630px;
}

.contentDate {
	display: inline-block;
	height: 50px;
	width: 50px;
	background: #57C39F;
	color: white;
	font-weight: 800px;
	line-height: 20px;
	margin: 0px;
	text-align: center;
	font-size: 16px;
}
.contentDate b {
	display: inline-block;
	margin-top: 5px;
}

.contentInBox {
	margin: 38px 28px;
}

/*--------------PART 6 FootBARP*/
#footBarP1 {
	background: #242424;
	height: 330px;
}

#delim {
	height: 2px;
	background: black;
}

#footBarP2 {
	background: #242424;
	height: 140px;

}

.footBox {
	overflow: hidden;
	display: inline-block;
	width: 350px;
	height: 300px;
	margin: 54px 37px;
}

.footBox div {
	font-size: 20px;
	margin: 5px 0px;
	color: #696969;
	margin-bottom: 15px;
}

.footBox>span {
	font-size: 15px;
	color:#B5B5B5;
}

.footBoxLight {
	display: block;
	margin: 4px;
	color: #DFDFDF;
}

.footBox i {
	color: #57C39F;
}

#footEmail, #footOkButton, .footButtons {
	height: 50px;
	width: 50px;
	background: #2E2E2E;
	color: #767676;
	margin: 42px 6px;
	display: inline-block;
	line-height: 50px;
	font-size: 17px;
}

.footButtons {
	float: right;
	text-align: center;
}

#footEmail {
	width: 292px;
	margin-right: 0;
}

#footOkButton {
	margin-left: -8px;
	background: #7D7D7D;
	text-align: center;
	color: #2E2E2E;
}

.footDelim {
	display: inline-block;
	width: 23px;
	background: white;
}


#footEmail>span {
	margin-left: 15px;
}

.footImg {
	display: inline-block;
}

.footImg img {
	display: inline-block;
	height: 75px;
	width: 105px;
	margin: -8px 0;
}
/*--------------PART 7 Footer*/

#footer {
	height: 120px;
	background: #2E2E2E;
	color: #ABABAB;
	font-size: 13px;
}

#footerDesigner {
	display: inline-block;
	height: 50px;
	line-height: 20px;
	margin: 33px 0px;
}

#footerOther {
	display: inline-block;
	height: 120px;
	line-height: 120px;
	float: right;
}

